@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-container {
  background: none !important;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
  transition-timing-function: linear;
  transition-duration: 100ms;
}

.fade-content-ver {
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 7%,
    black 93%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 7%,
    black 93%,
    transparent
  );
}
.fade-content-hor {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
}
